<section class="no-results not-found">
    <header>
        <h3 class="page-title">Nothing found</h3>
    </header><!-- .page-header -->
    <div class="page-content">
        <p>Maybe try searching it?</p>
        {{ wp.get_search_form }}
    </div><!-- .page-content -->
</section><!-- .no-results -->