{% extends 'layouts/base.twig' %}

{% block content %}
    <div id="primary" class="content-area">
        <main id="main" class="site-main" role="main">
            {% include 'content/content-404.twig' %}
        </main><!-- #main -->
    </div><!-- #primary -->
{% endblock %}