{% extends 'layouts/sidebar.twig' %}

{% block content %}
    <header class="page-header">
        <h1>{{ wp.sprig_title }}</h1>
    </header>
    {% for post in posts() %} {{ the_post(post) }}
        {% include 'content/content-excerpt.twig' %}
        <hr/>
    {% endfor %}
    {% if posts is empty %}
        {% include 'content/content-none.twig' %}
    {% endif %}
    {% include 'includes/paging.twig' %}
{% endblock %}

{% block sidebar %}
    {% set sidebar = wp.dynamic_sidebar('primary') %}
{% endblock %}