<header class="banner navbar navbar-default navbar-static-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ home_url('/') }}">{{ bloginfo('name') }}</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">
            {% set args = getBootstrapNavwalker() %}
            {{ wp_nav_menu(args) }}
        </nav>
    </div>
</header>
<h1>{{ sprig_title() }}</h1>