<!doctype html>
<html class="no-js" {{ wp.language_attributes }}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ wp.wp_title('|', true, 'right') }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ wp.wp_head }}

	<script src="http://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
	<script type="text/javascript">
	  WebFont.load({
	    google: {
	      families: ['Open-Sans']
	    }
	  });
	</script>
	<style type="text/css">
	  .wf-loading h1 { visibility: hidden; }
	  .wf-active h1, .wf-inactive h1 {
	    visibility: visible; font-family: sans-serif;
	  }
	</style>
</head>
