{% if wp_query.max_num_pages > 1 %}
    <nav class="post-nav">
        <ul class="pager">
            <li class="previous">{{ wp.next_posts_link('Older Posts') }}</li>
            <li class="next">{{ wp.previous_posts_link('Newer Posts') }}</li>
        </ul>
    </nav>
{% endif %}