{% include('layouts/head.twig') %}

<body {{ body_class() }} >

<!--[if lt IE 8]>
<div class="alert alert-warning">
    You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->

{% include('includes/header.twig') %}

<div class="wrap" role="document">
    <div class="content">
        {% block content %}
        {% endblock %}
    </div><!-- /.content -->
</div><!-- /.wrap -->

{% include('includes/footer.twig') %}

{{ wp_footer() }}

</body>
</html>