{% include('includes/head.twig') %}

<body {{ wp.body_class }} >

{% include('includes/header.twig') %}

<div class="wrap container" role="document">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="content">
                {% block content %}{% endblock %}
            </div><!-- /.content -->
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            {% block sidebar %}{% endblock %}
        </div>
    </div>
</div><!-- /.wrap -->

{% include('includes/footer.twig') %}

{{ wp.wp_footer }}

</body>
</html>